<div class="room_message mess-<%= room_message.user.id %>">
  <div class="message-box msg-<%= room_message.user.id %> " >
      <h4 class="name"> 
        <%= room_message.user.username %> 
      </h4>
    <%= room_message.message %>
  </div>
</div>