<header class = "p-3 bg-dark text-white">
    <div class="container"> 
      <nav class="d-flex flex-warp align-items-center justify-content-center justify-content-lg-start">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>

            <ul class="nav col-12 col-lg-auto mb-2 mb-md-0">
            <% if user_signed_in? %>
              <%= link_to current_user.email, edit_user_registration_path, class: 'nav-link px-2' %>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link px-2' %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, class: 'nav-link px-2' %>
              <%= link_to "Login", new_user_session_path, class: 'nav-link px-2' %>
            <% end %>
          </ul>
        </nav>
    </div>
</header>